
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  
  .navbar {
    background-color: #87ddf7; 
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  .container {
    display: flex;
    align-items: center;
  }
  
 
  .logo img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }
  
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333; 
    text-decoration: none;
  }
  
  
  .navbar-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .nav-item {
    margin-right: 15px;
  }
  
  .nav-link {
    color: #333; 
    text-decoration: none;
    font-weight: bold;
  }
  
 
  .nav-item.active .nav-link {
    color:darkblue;
  }
  

  
.homepage-container {
  text-align: center;
  padding: 50px;
  transition: background-color 0.3s, color 0.1s;
  margin-top: 10px;
 
}

h1 {
  color: #007BFF;
}

p {
  font-size: 18px;
  
  margin-bottom: 20px;
  
}
.pic img{
  margin-top: -21px;
  height: 390px;
}


.cta-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007BFF;
  text-decoration: none;
  border-radius: 5px;
}
.dark-mode section {
  background-color: #1a1a1a; 
  color: #ffffff; 
}


.light-mode section {
  background-color: #ffffff; 
  color: #333;
}
