.user-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #87ddf7; 
    
    
}


.options {
  position: absolute;
  top: 80%;
  
  display: none;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 1;
  
}

.user-icon:hover .options {
  display: flex;
  border: 3px;
}

.options span {
  padding: 8px;
  cursor: pointer;
  white-space: nowrap;
}

.options span:hover {
  background-color: #e0e0e0;
}

